<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Apskaita.DataAccessLayer.Properties.Settings.apskaitaConnectionString"
            connectionString="server=localhost;user id=root;database=apskaita;allowuservariables=True;characterset=utf8;persistsecurityinfo=True"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
</configuration>